{% extends 'miapp/base.html' %}

{% block title %}Editar Porqué{% endblock %}

{% block content %}
<h1>Editar Porqué</h1>
<form method="post" style="display: inline;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'visu' %}" class="btn btn-secondary">Cancelar</a>
</form>

<form method="post" action="{% url 'eliminar_porque' pk=porque.pk %}" style="display: inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>

{% endblock %}
