{% extends 'miapp/base.html' %}

{% block title %}Análisis 5 Por qué{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <h1>Visualización 5 Por qué</h1>
    <a href="{% url 'porque' %}" class="btn-verde btn-lg">Agregar</a>
</div>
    
 
</style>
<table class="tabla-datos">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Categorías</th>
            <th>Subcategoría</th>
            <th>Area</th>
            <th>Linea</th>
            <th>Subcategoria</th>
            <th>Miembros Equipo</th>
            <th>Pilar</th>
            <th>Impacto</th>
            <th>KPI ICEO</th>
            <th>KPI Secundario</th>
            <th>Fecha Inicio</th>
            <th>Fecha Cierre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for dato in datos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ dato.id }}</td>
            <td>{{ dato.categoria }}</td>
            <td>{{ dato.subcategoria }}</td>
            <td>{{ dato.area }}</td>
            <td>{{ dato.subarea }}</td>
            <td>{{ dato.maquina }}</td>
            <td>
                {% for miembro in dato.miembros_equipo.all %}
                    {{ miembro.nombre }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>            
            <td>{{ dato.pilar }}</td>
            <td>{{ dato.impacto }}</td>
            <td>{{ dato.kpi_iceo }}</td>
            <td>{{ dato.kpi_secundario }}</td>
            <td>{{ dato.fecha_inicio }}</td>
            <td>{{ dato.fecha_cierre }}</td>
            <td>
                <a href="{% url 'editar_porque' pk=dato.pk %}" class="btn-verde">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
